@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&family=Fraunces:wght@700&family=Hanken+Grotesk:wght@500;700;800&family=Inter:wght@400;700&family=Jost:ital,wght@0,100..900;1,100..900&family=Lexend+Deca&family=Montserrat:wght@400;500;700&family=Outfit:wght@300;400;600&family=Red+Hat+Display:wght@500;700;900&family=Unica+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Jost", sans-serif;
  background-color: hsla(240, 67%, 94%,0.4);
  overflow-x: hidden;
}